.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconsContainer {
    display: flex;
    gap: 20px;
}

@media(max-width: 600px) {
    .iconsContainer {
        gap: 10px;
    }
    .iconsContainer img {
        width: 35px;
        height: 35px;
    }
}